*{
    margin: 0;
    padding: 0;
    font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.warp{
    width: 100%;
    height: 100%;
}
.left{
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
}
/*添加按钮*/
.addBtn{
    width: 90%;
    height: 50px;
    outline: none;
    font-size: 18px;
    background-color: #1E9FFF;
    color: #fff;
    margin-left: 5%;
    border: none;
}
/*公司表格/部门表格*/
.companyTable, .departmentTable{
    width: 90%;
    text-align: center;
    border: 1px solid #dbdcdc;
    color: #666;
    border-spacing: 0;
    margin: 10px auto;
}
.companyTable th, .departmentTable th{
    background: #e6e6e6;
    border: 1px solid #dbdcdc;
    padding: 9px 15px;
    box-sizing: border-box;
}
.departmentTable th{
    width: 30%;
    height: 58px
}
.companyTable .companyTr, .departmentTable .departmentTr{
    width: 100%;
    height: 50px;
}
.companyTable .buttonBtn, .departmentTable .buttonBtn{
    display: flex;
    justify-content:space-around;
}
.companyTable td, .departmentTable td{
    border: 1px solid #dbdcdc;
    padding: 9px 15px;
    box-sizing: border-box;
}
.companyTable .button,.departmentTable .button,.btnBox button{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 12px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.companyTable .button:hover, .departmentTable .button:hover{
    opacity: .8;
    filter: alpha(opacity=80);
    color: #fff;
}
/*修改/添加公司/添加/修改部门*/
.updateCompany, .addCompany, .addDepartment,.updateDepartment{
    width: 500px;
    height: 240px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: none;
}
.updateCompany span, .addCompany span, .addDepartment span,.updateDepartment span{
    font-size: 18px;
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 85px;
}
.updateCompany input, .addCompany input, .addDepartment input,.updateDepartment input{
    float: left;
    width: 230px;
    height: 40px;
    outline: none;
    font-size: 18px;
}
/*按钮盒子*/
.btnBox{
    width: 80%;
    margin: 10px auto 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.right{
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
}
#showDepartmentH1{
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
.departmentTable{
    display: none;
}
#showAddDepartmentBtn{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}
