.layui-layim-tool .layui-icon, .layui-layim-search .layui-icon{
    font-size: 30px;
}
#layui-layer1{
    height: 450px !important;
}
#layui-layer1 .layui-layim-main .layui-layim-info{
    height: 35px;
}
#layui-layer1 .layim-tab-content{
    height: 295px;
}
.layui-layim-tool .layim-tool-skin{
    display: none;
}
.layui-layim-status .layui-anim-upbit li:last-of-type{
    display: none;
}
#layui-layim-close span{
    font-size: 30px;
}
.warp{
    padding: 10px;
    box-sizing: border-box;
}
.notice{
    width: 100%;
}
.notice ul {
    width: 100%;
    height: 240px;
    overflow: auto;
    font-size: 20px;
    text-indent: 20px;
    box-shadow: 5px 0px 30px #ccc;
}
.notice ul li {
    line-height: 40px;
}
.notice li:first-child {
    margin-top: 0;
    transition: margin-top .8s;
}
.notice ul li span:first-of-type {
    display: inline-block;
    margin-right: 10px;
}
.notice ul::-webkit-scrollbar{
    display: none;
}
body::-webkit-scrollbar{
    display: none;
}