*{
    margin: 0;
    padding: 0;
    font-family: "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
.warp{
    padding-left: 15px;
    box-sizing: border-box;
}
.btnTop{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}
.btnTop div{
    /*width: 25%;*/
    /*height: 100%;*/
}
.btnTop .topBtn{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
/*修改/添加通知/添加/修改类型*/
.addInfo,.addType{
    width: 500px;
    height: 434px;
    border: 1px solid #000;
    padding-left: 73px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: none;
}
.addType{
    padding-left: 0px;
    height: 300px;
    padding-top: 10px;
    font-size: 1.2rem;
}
.addInfo{
    overflow: scroll;
    overflow-x: hidden;
    font-size: 1.2rem;
}
.updateType,.addSonType,.detail,.viewedInfo,.updateInfo{
    width: 98%;
    height: 274px;
    border: 1px solid #000;
    background: #fff;
    display: none;
    border: none;
    position: absolute;
    z-index: 80;
    font-size: 1.2rem;
}
.viewedInfo{
    padding-left: 35px;
    box-sizing: border-box;
}
.detail{
    height: 397px;
    border: none;
    margin-top: 10px;
}
.updateInfo{
    height: 240px;
}
.addType span,.updateType span,.addSonType span,.addInfo span, .addUser span, .addUser label,.updateInfo span{
    font-size: 18px;
    display: inline-block;
    width: 95px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 85px;
}
.updateInfo span,.addInfo span{
    margin-left: 0px;
}
.addUser span,.addUser label{
    margin-left: 35px;
}
.addType input,.addType select,.updateType input,.updateType select,.addSonType input,.addSonType select,.addInfo input,.addInfo select, .addUser select:first-of-type,.updateInfo input,.updateInfo select {
    float: left;
    width: 230px;
    height: 40px;
    outline: none;
    font-size: 18px;
}
.updateInfo input{
    width: 305px;
}
.addUser select:first-of-type{
    width: 68%;
}
.addInfo select, .updateInfo select{
    height: 40px;
}
/*按钮盒子*/
.btnBox{
    width: 80%;
    margin: 20px auto 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.btnBox button, #showAddUserBtn{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
#showAddUserBtn{
    width: 80px;
    text-align: center;
    float: left;
}
/*人员*/
.addUser{
    box-sizing: border-box;
    width: 504px;
    height: 434px;
    font-size: 18px;
    border: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: none;
    padding: 16px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}
.userAgoSpan{
    width: 100px;
    line-height: 50px;
    display: inline-block;
    border: 1px solid;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
#layui-layer1{
    top: 0px;
}
.addTypeDiv i[class=layui-edge]{
    margin: 15px -38px 10px 10px;
}
.addInfoDiv {
    height: 108px;
    margin: 13px 0 3px -17px;
}
.addInfoDiv i[class=layui-edge]{
    margin: 15px -38px 10px 10px;
}