<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.EmployeeMapper" >

    <select id="getLoginEmployee" resultType="com.howei.pojo.Employee" parameterType="java.lang.String">
        select * from employee where id=#{id}
    </select>

    <update id="homeUpdEmployee" parameterType="com.howei.pojo.Employee" useGeneratedKeys="true" keyProperty="id">
        update employee
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="card!=null">
                card=#{card},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="idNumber!=null and idNumber!=''">
                idNumber=#{idNumber},
            </if>
            <if test="closhe!=null">
                closhe=#{closhe},
            </if>
            <if test="hat!=null and hat!=''">
                hat=#{hat},
            </if>
            <if test="education!=null and education!=''">
                education=#{education},
            </if>
            <if test="emergencyTel!=null and emergencyTel!=''">
                emergencyTel=#{emergencyTel},
            </if>
            <if test="emergency!=null and emergency!=''">
                emergency=#{emergency},
            </if>
            <if test="bank!=null and bank!=''">
                bank=#{bank},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
        </trim>
        where id=#{id}
    </update>

</mapper>