<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.howei.mapper.SysVersionMapper">
    <insert id="insert" parameterType="com.howei.pojo.SysVersion">
        insert into sys_version(releaseDate,content) value (#{releaseDate},#{content})

    </insert>

    <select id="getAll" resultType="com.howei.pojo.SysVersion">
        select * from sys_version order by releaseDate desc
    </select>
</mapper>